{% extends "base.html" %}

{% block app_content %}
  <div class="container" style="margin-top:50px">
    <h1>Add user to project</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="align-top" style="width:20%">{{ form.users.label }}</td>
            <th scope="col" style="width:80%">{{ form.users(size=10, style="width:200px") }} </td>
          </tr>
        </thead>
      </table>
      <p>{{ form.submit() }}
    </div>

{% endblock %}
