{% extends "base.html" %}

{% block app_content %}

  <div class="container" style="margin-top:50px">
        <h1>Available layers</h1>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Table name</th>
              <th scope="col">Geometry type</th>
              <th scope="col">Description</th>
              <th scope="col">Geometry column</th>
              <th scope="col">ID column</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for layer in layers %}
            <tr>
              <th scope="row">{{ layer.layer_id }}</th>
              <td>{{ layer.tablename }}</td>
              <td>{{ layer.geometry_type }}</td>
              <td>{{ layer.description }}</td>
              <td>{{ layer.geometry_column }}</td>
              <td>{{ layer.id_column }}</td>
              <td><a href="{{ url_for('main.edit_layer', layer_id=layer.layer_id) }}">Edit</a> <a href="{{ url_for('main.delete_layer', layer_id=layer.layer_id) }}">Delete</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <span>
          <a href="{{ url_for('main.add_layer') }}">Click here to add a layer.</a>
        </span>
  </div>

{% endblock %}
