{% extends "base.html" %}

{% block app_content %}
  <div id="container" style="height: calc(100% - 50px); width: 100%; overflow: hidden">
      <div id="map" style="height: 100%; width: auto"></div>
  </div>

    <script>
      var layers = [
        {
        {% for layerview in project.layerviews %}
          "name": "{{ layerview.name }}",
          "url": "/data/{{ layerview.layer.tablename }}?project_id={{ project.project_id }}",
          "geometry_type": "{{ layerview.layer.geometry_type }}",
          "pointtolayer": {{ layerview.pointtolayer|safe }},
          "style": {{ layerview.style }},
          "oneachfeature": {{ layerview.oneachfeature }}
        {% if not loop.last %}
        },
        {
        {% else %}
        }
        {% endif %}
        {% endfor %}
      ];

      start_map(layers);

    </script>
{% endblock %}
