{% extends "base.html" %}

{% block app_content %}
  <div id="container" style="height: 100%; width: 100%; overflow: hidden">
      <div id="map" style="height: 100%; width: auto"></div>
  </div>

    <script>

        var layers = [
          {
            "name": "Provincies",
            "url": "/data/1",
            "type": "Polygon",
            "pointtolayer": {},
            "style": function(feature) {
              return {
                color: "##ff7800",
                weight: 2,
                opacity: 1,
                fillOpacity: 0.5
              }
            }
          },
          {
            "name": "Gemeentehuizen",
            "url": "/data/2",
            "type": "Point",
            "pointtolayer": function(feature, latlng) {
              return L.circleMarker(latlng, {
                radius: 8,
                fillColor: "#ff7800",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
              });
            },
            "style": {},
            "oneachfeature": function(feature, layer) {
              layer.bindPopup(feature.properties.gemeente);
            }
          }
         ];

        start_map(layers);

    </script>
{% endblock %}
